# Author: Benjamin Schmid

Plugins>Cuda-based SPIM Reconstruction>, "Transform Cuda", fastspim.Transform_Cuda
Plugins>Cuda-based SPIM Reconstruction>, "Transform Dataset Cuda", fastspim.Transform_Dataset_Cuda
Plugins>Cuda-based SPIM Reconstruction>, "Extract PSF Planes", fastspim.Extract_PSF_Planes
Plugins>Cuda-based SPIM Reconstruction>, "Plane-wise deconvolve Cuda (Advanced)", fastspim.Deconvolve_Cuda_Advanced
Plugins>Cuda-based SPIM Reconstruction>, "Plane-wise deconvolve Cuda (Interactive)", fastspim.Deconvolve_Cuda_Interactive
Plugins>Cuda-based SPIM Reconstruction>, "Plane-wise deconvolve Cuda", fastspim.Deconvolve_Cuda
